[Unit]
Description=The record box software
[Service]
WorkingDirectory=/home/pi/guitar_recordbox
User=pi
ExecStart=/usr/bin/python3 /home/pi/guitar_recordbox/main.py
Restart=always
RestartSec=2
[Install]
WantedBy=multi-user.target
